{
    "development": {
        "MONGO_URI": "mongodb://localhost:27017/",
        "MONGO_OPTIONS": {
                            "db": { "safe": true },
                            "name":"test"
                        },
        "PORT":8080,
        "TIME_OUT":1
    },
    "production": {
        "MONGO_URI": "mongodb://localhost/production",
        "MONGO_OPTIONS": { "db": { "safe": true } },
        "PORT":80,
        "TIME_OUT":1
    }
}